[package]
name = "compio-net"
version = "0.2.0-beta.2"
description = "Networking IO for compio"
categories = ["asynchronous", "network-programming"]
keywords = ["async", "net"]
edition = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
# Workspace dependencies
compio-buf = { workspace = true }
compio-driver = { workspace = true }
compio-io = { workspace = true }
compio-runtime = { workspace = true, features = ["event"] }

cfg-if = { workspace = true }
either = "1.9.0"
socket2 = { workspace = true, features = ["all"] }

[target.'cfg(windows)'.dependencies]
widestring = { workspace = true }
windows-sys = { workspace = true, features = [
    "Win32_Foundation",
    "Win32_Networking_WinSock",
    "Win32_System_IO",
] }

[target.'cfg(unix)'.dependencies]
libc = { workspace = true }

# Shared dev dependencies for all platforms
[dev-dependencies]
compio-macros = { workspace = true }
futures-channel = { workspace = true }
futures-util = { workspace = true }
tempfile = { workspace = true }
