[package]
name = "compio-ws"
version = "0.1.0"
description = "WebSocket library for the compio runtime"
edition = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }


[dependencies]
rustls = { workspace = true, optional = true, features = [
    "logging",
    "std",
    "tls12",
    "ring",
] }
rustls-native-certs = { version = "0.8", optional = true }
tungstenite = "0.27.0"
compio = { workspace = true, features = ["io", "io-compat", "macros"] }
compio-io = { workspace = true }
compio-net = { workspace = true, optional = true }
compio-tls = { workspace = true, optional = true, default-features = false, features = [
    "rustls",
] }
compio-runtime = { workspace = true }
compio-buf = { workspace = true }
webpki-roots = { version = "1.0.4", optional = true }
rustls-pemfile = "2.0"
log = "0.4"

[features]
default = []
connect = ["dep:compio-net"]
rustls = ["connect", "dep:compio-tls", "dep:rustls", "compio-tls/rustls"]
rustls-native-certs = ["rustls", "dep:rustls-native-certs"]
webpki-roots = ["rustls", "dep:webpki-roots"]

[dev-dependencies]
log = "0.4"
env_logger = "0.11"


[[example]]
name = "echo_server"
required-features = ["connect"]

[[example]]
name = "client"
required-features = ["connect"]

[[example]]
name = "autobahn-client"
required-features = ["connect"]

[[example]]
name = "autobahn-server"
required-features = ["connect"]

[[example]]
name = "echo_server_tls"
required-features = ["connect", "rustls"]

[[example]]
name = "client_tls"
required-features = ["connect", "rustls"]
