name: Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
        lock: [minimal, auto]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        run: |
          rustup default nightly
          rustup component add clippy
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.18'
      - name: Install NASM on Windows
        if: runner.os == 'Windows'
        uses: ilammy/setup-nasm@v1
      - name: Install ninja-build tool on Windows
        if: runner.os == 'Windows'
        uses: seanmiddleditch/gha-setup-ninja@v4
      - name: Check clippy
        shell: bash
        run: |
          ARGS=()
          if [[ "${{ matrix.lock }}" == "minimal" ]]; then
              ARGS+=("-Z" "minimal-versions")
          fi
          cargo clippy "${ARGS[@]}" --all-features --all-targets -- -Dwarnings
      - name: Check Docs
        run: |
          cargo doc --workspace --all-features --no-deps
