name: Check

on:
  push:
    branches:
      - master
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - '.github/workflows/ci_check.yml'
  pull_request:
    branches:
      - master
    paths:
      - '**/Cargo.toml'
      - '**/*.rs'
      - '.github/workflows/ci_check.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        run: |
          rustup default nightly
          rustup component add clippy
      - name: Check clippy
        shell: bash
        run: |
          cargo clippy --all-features --all-targets -- -Dwarnings
      - name: Check Docs
        run: |
          cargo doc --workspace --all-features --no-deps

  check_stub:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        run: |
          rustup default nightly
      - name: Check
        shell: bash
        # We only make sure that the stub driver compiles.
        run: |
          cargo check --all-features --all-targets
