name: TestIllumos

on:
  push:
    branches:
      - master
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '.github/workflows/ci_test_illumos.yml'
  pull_request:
    branches:
      - master
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '.github/workflows/ci_test_illumos.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: ['nightly', 'beta', 'stable']
    steps:
      - uses: actions/checkout@v4
      - name: Test in Illumos
        id: test
        uses: vmactions/omnios-vm@v1
        with:
          usesh: true
          sync: rsync
          copyback: false
          prepare: |
            pkg install gcc14 curl pkg-config
            curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf > install.sh
            chmod +x install.sh
            ./install.sh -y --default-toolchain ${{ matrix.toolchain }} --profile minimal
          run: |
            . "$HOME/.cargo/env"
            set -ex

            rustup component add clippy

            cargo clippy --all-features --all-targets -- -Dwarnings
